@import '../helpers.scss';

.sectionList{
  padding: to-rem(32px) 0;
  
  @include media-breakpoint-up(lg){
    padding: to-rem(24px) 0;
  }
  &__title{
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: to-rem(20px);
    
    @include media-breakpoint-up(lg){
      margin-bottom: to-rem(24px);
    }
    h2{
      font-size: to-rem(20px);
      font-weight: 700;
      margin: 0;

      @include media-breakpoint-up(lg){
        font-size:to-rem(28px);
      }
    }

    a{
      font-size: to-rem(14px);
      text-decoration: none;
      color: var(--purple);
      font-weight: 700;

      @include media-breakpoint-up(lg){
        font-size:to-rem(16px);
      }
    }
  }

  &__lib{

    &___item{
      width: fit-content !important;
      border-radius: 20px;
      border: 1px solid var(--lightGray);
      padding: to-rem(6px) to-rem(16px);
      transition-property: all !important;
      transition: 0.3s;
      
      a{
        color:var(--mediumGray);
        text-decoration: none;
        font-size: to-rem(14px);
        font-weight: 500;
        transition: 0.3s;
      }
      &:hover{
        border-color: var(--purple);

        a{
          color: var(--purple);
        }
      }
      &.active{
        background-color: var(--purple);
        border-color: var(--purple);

        a{
          color: #fff;
        }
      }

      
    }
  }
}