@import '_helpers.scss';

:root{
  --lightGray : #E0E0E0;
  --mediumGray : #757575;
  --gray: #555555;
  --purple: #A076F2;
}
*{font-family: 'Roboto', sans-serif; color: var(--gray);}
html{overflow-x: hidden;}

body{
  background-color: #f7f7f7;
}


main{
  padding-bottom: to-rem(50px);

  @include media-breakpoint-up(md){
    padding-bottom: unset;
  }
}